.text {
    font-weight: bolder;
    font-style: oblique;

}

button {
    background: darkcyan;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background: olivedrab;
}
