

.root {
    width: 100%;
}

.root.MuiInput-underline:before {
    border-color: darkred;
}

.root.MuiInput-underline:after {
    border-color: green;
}

.root .MuiFormLabel-root {
    color: yellow;
}

.root.MuiFormLabel-root.Mui-focused {
     color: darkred;
}

/*.root.MuiFormLabel-root.Mui-focused {*/
/*    color: darkred;*/
/*}*/
